.app-main {
  width: 70%;
}
.app-main-edit {
  padding: 30px;
}

.app-main-edit input,
textarea {
  display: block;
  border: 2px solid #999;
  margin-bottom: 20px;
  border-radius: 2px;
  width: 100%;
  resize: none;
  font-size: 16px;
  padding-left: 10px;
}
.app-main-edit textarea {
  height: calc(100vh - 200px);
  padding-top: 10px;
  width: 95%;
  letter-spacing: 3px;
  font-weight: 500;
}
.app-main-edit input {
  height: 40px;
  width: 60%;
  font-weight: 600;
}

.no-active-note {
  text-align: center;
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  color: #999;
  font-size: 18px;
}
